<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: "6d00c7673f28bc647a27",
    clientSecret: "b5050f16d887503f208ccbbc6b16c4181a857e2a",
    repo: "youremailaddress.github.io",
    owner: 'youremailaddress',  
    admin: ['youremailaddress'], 
    id: window.location.pathname, 
      });
    gitalk.render('gitalk-container');
</script> 